<nav>
  <h1><a href="/">The Future of <span class="line-break">Hackney is...</span></a></h1>
  <button class="hamburger">
    <svg viewBox="0 0 100 70" width="30" height="30">
      <rect width="100" height="15" rx="10"></rect>
      <rect y="30" width="100" height="15" rx="10"></rect>
      <rect y="60" width="100" height="15" rx="10"></rect>
    </svg>
  </button>
  <ul class="menu-list">
    <li class="{{ 'active' if '/have-your-say' in page.url}}"><a href="/have-your-say">Build Your Future World</a></li>
    <li class="{{ 'active' if '/about' in page.url}}"><a href="/about">About</a></li>
    <li class="{{ 'active' if '/gallery' in page.url}}"><a href="/gallery">Project Gallery</a></li>
  </ul>
</nav>
