{% extends "./default.njk" %}

{% block main %}
<main class="{{ bgColor }} text-grid about">
  <h2>{{ pageTitle }}</h2>
  <div class="text-content">
    {{ content | safe }}
    <div class="logos">
      <img id="eastside" src="https://res.cloudinary.com/tonipanoche/image/upload/v1617864009/future-worlds/Copy_of_Copy_of_Primary_logo_pink_irpcug.png" alt="Hackney Borough Logo">
      <img src="https://res.cloudinary.com/tonipanoche/image/upload/v1617863994/future-worlds/Syrup_Logo_white_kfji8v.png" alt="Eastside Educational Trust Logo">
      <img src="https://res.cloudinary.com/tonipanoche/image/upload/v1617863998/future-worlds/hackney-logo-white_gcihf2.png" alt="Syrup Magazine Logo">
    </div>
  </div>
</main>
{% endblock %}
