{% extends "./default.njk" %}

{% block main %}
<main class="{{ bgColor }} text-grid about">
  <h2>{{ pageTitle }}</h2>
  <div class="text-content">
    {{ content | safe }}
    <hr class="mt-2">
    <div class="logos">
      <a href="https://www.eastside.org.uk" target="_blank"><img id="eastside" src="https://res.cloudinary.com/tonipanoche/image/upload/v1618931647/future-worlds/Eastside-logo-master_png_blue.png" alt="Eastside Logo"></a>
      <a href="https://syrupmagazine.co.uk/" target="_blank"><img id="syrup" src="https://res.cloudinary.com/tonipanoche/image/upload/v1617863994/future-worlds/Syrup_Logo_white_kfji8v.png" alt="Syrup Logo"></a>
      <a href="https://hackney.gov.uk/" target="_blank"><img id="hackney" src="https://res.cloudinary.com/tonipanoche/image/upload/v1618931941/future-worlds/Hackney_white.png" alt="Hackney Borough Logo"></a>
      <div class="eastside">
        <p>Eastside exists to help young people develop their creative thinking, so that they are able to become the problem-solvers of tomorrow, empowered to build a better society.</p>
      </div>
      <div class="syrup">
        <p>Syrup is a social design studio established in 2016. They work with people and about places to create exhibitions and experiences using inclusive and interactive engagement, co-design and technology. </p>
      </div>
      <div class="hackney">
        <p>Your Future Worlds is supported by Hackney Council’s Shoreditch and Hoxton Arts Fund, created from a levy on developers to support arts and culture programmes that bring different communities together.</p>
      </div>
    </div>
    <hr class="mt-2">
    <div class="credits">
      <p>Credits</p>
      <ul class="credit-list">
        <li>Sound Design, Lucy Harrison</li>
        <li>Photography, Tom Harrison</li>
        <li>Web Design, Toni Panacek</li>
        <li>Graphic Design, Concept and Curation, Syrup</li>
      </ul>
      <p>With thanks to</p>
      <ul class="credit-list">
        <li><a href="https://www.calverts.coop" target="_blank">Print, Calverts design and print</a></li>
        <li><a href="https://www.buildhollywood.co.uk/agency/" target="_blank">Jack Arts</a></li>
      </ul>
    </div>
    <hr class="mt-2">
    <div class="credits">
      <p>Contact</p>
      <ul>
        <li>Email, <a href="mailto:info@syrupmagazine.co.uk" target="_blank">info@syrupmagazine.co.uk</a></li>
        <li>Instagram, <a href="https://www.instagram.com/syrupmagazine" target="_blank">@syrupmagazine</a></li>
      </ul>
    </div>
  </div>
</main>
{% endblock %}
