{% extends "./default.njk" %}

{% block main %}
<main class="{{ bgColor }} text-grid about">
  <h2>{{ pageTitle }}</h2>
  <div class="text-content">
    {{ content | safe }}
    <div class="logos">
      <div class="eastside">
        <a href="https://www.eastside.org.uk" target="_blank"><img id="eastside" src="https://res.cloudinary.com/tonipanoche/image/upload/v1617864009/future-worlds/Copy_of_Copy_of_Primary_logo_pink_irpcug.png" alt="Eastside Logo"></a>
        <p>Eastside exists to help young people develop their creative thinking, so that they are able to become the problem-solvers of tomorrow, empowered to build a better society.We achieve this by engaging children and young people through direct participation in the arts, enabling them to work with professional artists and creative practitioners, both in and outside school, with a particular focus on areas in London where our help is needed most. </p>
      </div>
      <div class="syrup">
        <a href="https://syrupmagazine.co.uk/" target="_blank"><img src="https://res.cloudinary.com/tonipanoche/image/upload/v1617863994/future-worlds/Syrup_Logo_white_kfji8v.png" alt="Syrup Logo"></a>
        <p>Syrup is a social design studio established in 2016. They work with people and about places to create exhibitions and experiences using inclusive and interactive engagement, co-design and technology. </p>
      </div>
      <div class="hackney">
        <a href="https://hackney.gov.uk/" target="_blank"><img src="https://res.cloudinary.com/tonipanoche/image/upload/v1617864001/future-worlds/Hackney_Logo_A5_Support_kzcpgb.jpg" alt="Hackney Borough Logo"></a>
        <p>Your Future Worlds is supported by Hackney Council’s Shoreditch and Hoxton Arts Fund, created from a levy on developers to support arts and culture programmes that bring different communities together.</p>
      </div>
    </div>
  </div>
</main>
{% endblock %}
