<!DOCTYPE html>
<html class="{{ htmlClass }}" lang="{{ site.lang }}">
  <head>
    {% include "head.njk" %}
  </head>
  <body class="{{ bodyClass }}">
    {% include "navbar.njk" %}

    {{ content | safe }}

    {% include "footer.njk" %}
  </body>
</html>
