<!DOCTYPE html>
<html class="{{ htmlClass }}" lang="{{ site.lang }}">
  <head>
    {% include "_head.njk" %}
  </head>
  <body class="{{ bodyClass }}">
    {% include "_navbar.njk" %}
    {% block main %}
      {{ content | safe }}
    {% endblock %}
    {% include "_footer.njk" %}
  </body>
</html>
