{% extends "./default.njk" %}

{% block main %}
<main class="{{ bgColor }} gallery">
  <div class="text-grid">
    <h2>{{ pageTitle }}</h2>
    <div class="text-content">
      <p>{{ pageDescription }}</p>
      <p>Professional street photography by Tom Harrison & Jack Arts.</p>
    </div>
  </div>
  <div class="image-gallery">
    {% for imageUrl in images %}
    <img src="{{ imageUrl }}" id="image-{{ loop.index }}" alt="" loading="lazy">
    {% endfor %}
  </div>
</main>
{% endblock %}
