{% extends "./default.njk" %}

{% block main %}
<main class="home">
  <div class="home-grid">
    <div class="word-box pink span-3" id="changing">
      <button>Changing</button>
    </div>
    <article class="quote-box hidden green jc-around" id="changing-quote">
      <button class="close-btn">&times;</button>
      <h4>'<span class="white-text">It’s all changing,</span> so you see change in the infrastructure, you see change in the buildings, you see change in the play areas, the park areas for the children.'</h4>
      <audio id="changing-audio">
        <source src="https://res.cloudinary.com/tonipanoche/video/upload/v1618142106/future-worlds/changing_01_mixdown2_eafemr.mp3" type="audio/mpeg">
        Your browser does not support the audio tag.
      </audio>

      <p class="white-text">Mustafer, Tee Bone Halal Butchers, 287 Hoxton Street, 2021 </p>
      <details>
        <summary>Click here for full transcript</summary>
        <p>
        'It’s all changing, so you see change in the infrastructure, you see change in the buildings, you see change in the play areas, the park areas for the children so everything. Change is always good, because they assess things and how it needs to be changed and change it in the right way. If it doesn't work, and the community is going to go against it and they have  to change it back to the way it is. But yeah, change. is always appreciated. And down here in business sense change is good, because you see different people coming in, and different cultures coming in and it’s just growing.'
        </p>

        <p class="name">Mustafer, Tee Bone Halal Butchers, 287 Hoxton Street, 2021</p>

        <p>'There used to be a park. It was like a little kids, jungle gym thing, wherever. And I used to play there with my cousins a lot when they had the time to come here. And they recently broke it all down because it was like, all rusty and terrible. I feel like it had so much memories. And I felt like I wish I had time to take a picture of it so I could draw it or paint it. I managed to get around to doing that recently for school. Even though it was rundown and broken and probably dangerous. And probably it's good that it's gone. But I missed it a lot!'</p>

        <p class="name">Khajida Heath-Bailey,  Peer Gallery Ambassador, 2020</p>

        <p>'Recently, like, I remember that being a blockbuster there, and then there was a Tesco. And now there's like flats. And, to me, it's just etching away the community that surrounds that, because before we know, it probably Rio [cinema] will be gone too. Yeah, it's taking away all the kind of cultural landmarks or putting them in spaces where they don't necessarily belong, like Rio across from a block of flats that doesn’t feel right to me.</p>

        <p class="name">Tapiwa Cronin,  Peer Gallery Ambassador, 2020</p>
      </details>
    </article>

    <div class="word-box red span-3" id="green">
      <button>Green</button>
    </div>
    <article class="quote-box hidden red jc-around" id="green-quote">
      <button class="close-btn">&times;</button>
      <h4>'As a borough, I think we can solve all of the messy things which we are trying to do right now. But with <span class="white-text">climate change</span>, we have to bring the <span class="white-text">whole world</span> into that.'</h4>
      <audio id="green-audio">
        <source src="https://res.cloudinary.com/tonipanoche/video/upload/v1618142094/future-worlds/Green_edit_mixdown_ttjsea.mp3" type="audio/mpeg">
        Your browser does not support the audio tag.
      </audio>
      <p class="white-text"> Year 7 Student, Bridge Academy Hackney, 2020 </p>
      <details>
        <summary>Click here for full transcript</summary>
        <p>'Even in the future, we'll be going to places more than just Mars. And even though the future looks so bright, there's climate change and especially London and Hackney is going to be quite a messy place. As a borough, I think we can solve all of the messy things which we are trying to do right now. But with climate change, we have to bring the whole world into that'</p>
        <p class="name"> Year 7 Student, Bridge Academy Hackney, 2020 </p>
        <p>'Plant more trees!</p>
        <p class="name">Hackney Young Carers, 2020</p>
        <p>'Lots of parks in Hackney, Make the streets cleaner!'<br>
        'Better transport system, which Hackney deserves.'<br>
        'It's more about the future, how transportation will be made in the future because cars and stuff are not healthy for the environment. So we need an alternative to travel to places.'</p>
        <p class="name">Year 8 Student, City of London Academy Shoreditch Park, 2020 </p>
        <p>'I did a sign with limited public transport, so that people will be more encouraged to walk and cycle to their destinations.'<br>
        'The original idea was Hackney or mostly a reflection of the world and how how like the actions that they were supposed to take before that they're doing now because they noticed that the areas going bad results in the humans downfall.'<br>
        'Yeah. And also that like, if what humans make and like nature came together, it'd be like, very beautiful and not just like a concrete jungle, but like real nature.'</p>
        <p class="name"> Year 7 Student, Bridge Academy Hackney, 2020 </p>
      </details>
    </article>

    <div class="sticker-box" id="instructions">
      <div class="sticker orange" id="listen">Click On Words to Listen and Read</div>
    </div>

    <div class="word-box green span-3" id="young">
      <button>Young</button>
    </div>
    <article class="quote-box hidden pink jc-around" id="young-quote">
      <button class="close-btn">&times;</button>
      <h4>'It's full of <span class="white-text">youth</span> <br>you can definitely say that. There's <span class="white-text">more children</span> than there are adults.'</h4>
      <audio id="young-audio">
        <source src="https://res.cloudinary.com/tonipanoche/video/upload/v1618142060/future-worlds/Young_01_mixdown2_bynaql.mp3" type="audio/mpeg">
        Your browser does not support the audio tag.
      </audio>
      <p class="white-text">Emily, Chicken Express, 255 Hoxton Street, 2021 </p>
      <details>
        <summary>Click here for full transcript</summary>
          <p>'It's full of youth you can definitely say that; There's more children than there are adults. Well I do feel that's a positive thing right now. People like congress or wherever. They are literally the oldest of the oldest people. So the youngest people don't get to benefit from that.'</p>
          <p class="name">Emily, Chicken Express, 255 Hoxton Street, 2021</p>
          <p>'Being a youth worker, it's all about a young person's voice and making sure that's heard. And this seems like an opportunity for young people to try and get their voice across. I think young carers particularly are a group of young people that are often not heard.
          Ultimately, whichever generation that comes next is the generation that is going to take over the mistakes from the one before. So if we can try and work with young people to action some of their future earlier we might be giving them a better chance.'</p>
          <p class="name">Nancy Bending-Beckett, Hackney Young Carers, 2020</p>
      </details>
    </article>

    <div class="word-box blue span-2" id="ours">
      <button>Ours</button>
    </div>
    <article class="quote-box hidden yellow  jc-around" id="ours-quote">
      <button class="close-btn">&times;</button>
      <h4>'Hackney is nothing without <span class="white-text highlight">the people</span> that occupy it.'</h4>
      <audio id="ours-audio">
        <source src="https://res.cloudinary.com/tonipanoche/video/upload/v1618142094/future-worlds/Ours_02_mixdown_rm0voz.mp3" type="audio/mpeg">
        Your browser does not support the audio tag.
      </audio>
      <p class="white-text">Tapiwa Cronin, Peer Gallery Young Ambassadors. 2021</p>
      <details>
        <summary>Click here for full transcript</summary>
        <p>'I'm very deeply rooted to Hackney as my home.'</p>
        <p class="name">Khajida Heath-Bailey,  Peer Gallery Ambassador, 2020</p>
        <p>'I've lived here my whole life. I've always loved living here, because I have family in different boroughs, and I go to their boroughs and it doesn't compare. But I've always just been involved in the projects that have been going on in the borough, like, especially the creative projects. So it's given me so much, and definitely helped me with my personal development. So it's most integral to my personal identity being from Hackney.'</p>
        <p class="name">Tapiwa Cronin,  Peer Gallery Ambassador, 2020</p>
        <p>'The people who live here, everyone kind of just kind of knows each other in some way or another. I don't know how but like, I don't know, I feel like I know, people even though probably never spoke into my life, most people are pretty kind!'</p>
        <p class="name">Khajida Heath-Bailey,  Peer Gallery Ambassador, 2020</p>
      </details>
    </article>

    <div class="word-box light-blue span-3" id="joyful">
      <button>Joyful</button>
    </div>
    <article class="quote-box hidden light-blue jc-around" id="joyful-quote">
      <button class="close-btn">&times;</button>
      <h4>'This relates to Hackney because we always have a carnival. And it's just like, a place that <span class="white-text">you get to have fun.</span>'</h4>
      <audio id="joyful-audio">
        <source src="https://res.cloudinary.com/tonipanoche/video/upload/v1618142108/future-worlds/Joyful_Final_mixdown_WithWind_noisaf.mp3" type="audio/mpeg">
        Your browser does not support the audio tag.
      </audio>
      <p class="white-text">Year 7 Student, Bridge Academy Hackney, 2020</p>
      <details>
        <summary>Click here for full transcript</summary>
        <p>'This relates to Hackney because we always have a carnival. And it's just like, it's just like a place that you get to have fun'</p>
        <p>'The food, the culture, the dancing, fashion, the like, yeah, the friendships that you can make friends at the carnival, like people you've never met before.'</p>
        <p class="name">Year 7 Student, Bridge Academy Hackney, 2020</p>
        <p>'The only carninal I went to with my friends. And I don't know, I felt so different to when I was younger. Like, I finally got to like, walk into the road and dance with everybody. And it just felt like everyone was so welcoming. Again very community based and I love all the carnivals that go on in like London, or in Hackney, mostly. last year's Carnival was so beautiful.'</p>
        <p class="name">Khajida Heath-Bailey,  Peer Gallery Ambassador, 2020</p>
        <p>'You need more than a couple of words, to sum up Hackney, but what comes to mind is a joy to be, to be here, especially like in the summer, and in the winter as well, all months. So it's just it's just a joy it's a joy.'</p>
        <p class="name">Mustafer, Tee Bone Halal Butchers, 287 Hoxton Street , 2021</p>
      </details>
    </article>

    <div class="word-box pink span-3" id="hopeful">
      <button>Hopeful</button>
    </div>
    <article class="quote-box hidden orange jc-around" id="hopeful-quote">
      <button class="close-btn">&times;</button>
      <h4>'<span class="white-text">[In my future world] everyone’s treated equally,</span> it's very diverse, not very much racism, less knife crime, a lot of homeless shelters and a lot of schools for homeless children.'</h4>
      <audio id="hopeful-audio">
        <source src="https://res.cloudinary.com/tonipanoche/video/upload/v1618142091/future-worlds/Hopeful01_mixdown_fwgaag.mp3" type="audio/mpeg">
        Your browser does not support the audio tag.
      </audio>
      <p class="white-text">Year 8 Student, City of London Academy Shoreditch Park, 2020 </p>
      <details>
        <summary>Click here for full transcript</summary>
        <p>'Yeah. So for this, it's like a tower and at the top of the tower, there's different messages and images. And hopefully, because like there's a lot of problems with mental health it will make you feel better.'</p>
        <p>'That even though there's bad things happening like crime and gangs, there's always like, good things about it.'</p>
        <p class="name">Year 8 Student, City of London Academy Shoreditch Park, 2020 </p>
      </details>
    </article>

    <div class="word-box blue span-5" id="empowering">
      <button>Empowering</button>
    </div>
    <article class="quote-box hidden blue jc-around" id="empowering-quote">
      <button class="close-btn">&times;</button>
      <h4>'There's lots of opportunity here. <br>You can start small but <br><span class="white-text">go big</span> in Hackney.'</h4>
      <audio id="empowering-audio">
        <source src="https://res.cloudinary.com/tonipanoche/video/upload/v1618142086/future-worlds/Empowering__01_mixdown_xp7cuy.mp3" type="audio/mpeg">
        Your browser does not support the audio tag.
      </audio>
      <p class="white-text">Year 7 Student, Bridge Academy Hackney, 2020</p>
      <details>
        <summary>Click here for full transcript</summary>
        <p>'Everyone from everywhere, like came out and just expressed what they were thinking and feeling at the time. And I feel like gentrification is a huge issue. So it's almost as though Hackney is a borough in constant resistance. I feel like and that, to me, is particularly empowering.'</p>
        <p>'What I would like to see is the people who've been working here really hard, having ownership and pride within the borough, and therefore having power which isn't, which can’t so easily be taken away. I would like to see more community enterprises, I would like to see the kind of stuff we're seeing upcoming from the people who live in Hackney become more solidified, and ensure that that's more successful to empower, like the next generations.'</p>
        <p class="name">Tapiwa Cronin, Peer Gallery Ambassador, 2020</p>
      </details>
    </article>

    <div class="sticker-box build" id="build">
      <a class="sticker light-blue" href="/have-your-say">Build your future world here!</a>
    </div>

    <div class="sticker-box build" id="future">
      <a class="sticker green" href="/have-your-say">What does the future of Hackney look like?</a>
    </div>

    <div class="word-box red span-5" id="creative">
      <button>Creative</button>
    </div>
    <article class="quote-box hidden green jc-around" id="creative-quote">
      <button class="close-btn">&times;</button>
      <audio id="creative-audio">
        <source src="https://res.cloudinary.com/tonipanoche/video/upload/v1618142092/future-worlds/creative__01_mixdown_hyeyiz.mp3" type="audio/mpeg">
        Your browser does not support the audio tag.
      </audio>
        <h4>'I would love to make a documentary about Hackney, And I'll make it really colorful, like, stupid, colorful, because people need to see <span class="white-text">the vibrancy of the people</span> and of the place.'</h4>
        <p class="white-text">Tapiwa Cronin, Peer Gallery Ambassador, 2020</p>
      <details>
        <summary>Click here for full transcript</summary>
        <p>'I would love to make a documentary about Hackney and specifically Dalston where I live, I feel like I would choose that as my form. And I'll make it really colorful, like, stupid colorful, because people need to see the vibrancy of the people and of the place. And I would just really like to document what it looks like now. For fear that it changes in the future. And just to kind of show people even on a daily scale, what it means to be part of that community.'</p>
        <p class="name">Tapiwa Cronin,  Peer Gallery Ambassador, 2020</p>

        <p>'Definitely very creative. There's like secret places I find sometimes when I'm like riding my bike in a park or something, and I see some random artwork just sitting there. And I just have to stop, stop and stop at the stop sometimes, and just like, look at it, and just go, Wow, who made this Why is this here? And sometimes I feel like I want to make something like that one day, where people can just come across it and just, like, admire it for a bit and then go about their day again.'</p>
        <p class="name">Khajida Heath-Bailey,  Peer Gallery Ambassador, 2020</p>
      </details>
    </article>

  </div>

  <div class="overlay-div">
  </div>
</main>
{% endblock %}
