{% extends "./default.njk" %}

{% block main %}
<main class="home">
  <div id="listen-parent">
    <button class="sticker" id="listen">Click to listen!</button>
  </div>
  <div class="home-grid">
    <div class="word-box green" id="green">
      <button>Green</button>
    </div>
    <div class="word-box blue">
      <button>Ours</button>
    </div>
    <div class="word-box yellow">
      <button>Community</button>
    </div>
    <div class="word-box red">
      <button>Young</button>
    </div>
    <div class="word-box light-blue">
      <button>History</button>
    </div>
    <div class="word-box pink">
      <button>Joy</button>
    </div>
    <div class="word-box blue">
      <button>Accepting</button>
    </div>
    <div class="word-box yellow">
      <button>Changing</button>
    </div>
    <div class="word-box red">
      <button>Modest</button>
    </div>
    <div class="word-box light-blue">
      <button>Lively</button>
    </div>
    <div class="word-box pink">
      <button>Spontaneous</button>
    </div>
    <div class="word-box green">
      <button>Positive</button>
    </div>
  </div>

  <div id="say-parent">
    <button class="sticker" id="have-your-say"><a href="/have-your-say">Have your say!</a></button>
  </div>

  <div class="overlay-div">
    <div class="quote-box hidden" id="green">
      <span class="close-btn">&times;</span>
      <h4>'I feel like gentrification is a huge issue. So it's almost as though <span class="white-text">Hackney is a borough in constant resistance.</span><br><br> That, to me, is particularly empowering.'</h4>
      <audio id="empowering">
        <source src="/assets/sounds/empowering.mp3" type="audio/mpeg">
        Your browser does not support the audio tag.
      </audio>
      <p class="white-text">Tapiwa Cronin, Peer Gallery Young Ambassadors. 2021</p>
    </div>
  </div>
</main>
{% endblock %}
