{% extends "./default.njk" %}

{% block main %}
<main class="{{ bgColor }} your-say">
    <div class="your-say-grid">
      <div class="left">
        <h2>{{ question1 }}</h2>
        <div class="your-say-box long pink mr-4">
          <p>As wonderful, confusing, exciting and frustrating as it is now... just more so.</p>
          <p class="name"><small>Ivy</small></p>
        </div>
        <div class="your-say-box yellow blue">
          <p>They should make the world more green! And more swimming pools! It's good exercise.</p>
          <p class="name"><small>Sofia, 12</small></p>
        </div>
        <div class="your-say-box short green ml-4">
          <p>I think in 50 years we're gonna be alien’s pets.</p>
          <p class="name"><small>Jayden, 12</small></p>
        </div>
        <a href="#have-your-say-form" class="sticker form-sticker orange">What do you think? <br>Click here to comment</a>
        <div class="your-say-box long blue">
          <p>I'm worried about climate change - I think we need to do more and take action.</p>
          <p class="name"><small>Emily, 17</small></p>
        </div>
        <div class="your-say-box short pink">
          <p>I will be in an office working as a business woman</p>
          <p class="name"><small>Milka, 9</small></p>
        </div>
        <div class="your-say-box medium yellow">
          <p>I think climate change in London will make Hackney quite a messy place. There's a lot of rubbish.</p>
          <p class="name"><small>Mohammad, 13</small></p>
        </div>
        <div class="your-say-box short green">
          <p>The future of Hackney is bright and vibrant!</p>
          <p class="name"><small>Matilda</small></p>
        </div>
        <div class="your-say-box medium blue">
          <p>How it is now, but with more pollution. The food, the culture, the dancing, fashion, the friendships that you can make, the carnival.</p>
          <p class="name"><small>Mohammad, 13</small></p>
        </div>
        <div class="your-say-box pink">
          <p>I want less knife crime, a lot of homeless shelters and a lot of schools for homeless children</p>
          <p class="name"><small>Danielle, 14</small></p>
        </div>
        <div class="your-say-box green">
          <p>The world will be peaceful, lush and green, with nature and humanity coexisting happily.  We will have learned how to share what we have and will be kinder to each other and the world around us.  I will be 99 years old by then and happy to be alive and part of it all!</p>
          <p class="name"><small>Matt, 49</small></p>
        </div>
      </div>
      <div class="right">
        <div class="your-say-box short yellow">
          <p>I hope we are all kinder to each other</p>
          <p class="name"><small>Danielle, 14</small></p>
        </div>
        <div class="your-say-box full blue">
          <p>So an idea is to have a tower, and at the top, there's different positive messages and images. And hopefully, because there's a lot of problems with mental health it will make you feel better.</p>
          <p class="name"><small>Alyssa, 13</small></p>
        </div>
        <h2>{{ question2 }}</h2>
        <div class="your-say-box long pink ml-8">
          <p>It will be very eco friendly</p>
          <p class="name"><small>Milka, 9</small></p>
        </div>
        <div class="your-say-box long green">
          <p>I want to see more opportunity for young people to be heard in Hackney and throughout London</p>
          <p class="name"><small>Emily, 17</small></p>
        </div>
        <div class="your-say-box medium yellow">
          <p>If we come together - bright, bold and beautiful</p>
          <p class="name"><small>Ivy</small></p>
        </div>
        <div class="your-say-box short blue">
          <p>Trees, grass and more libraries</p>
          <p class="name"><small>Sofia, 12</small></p>
        </div>
        <div class="your-say-box long pink">
          <p>Hackney will be so different - the air will be fresh and clean, everyone will be welcomed and art and culture will flourish on every street - there will be street parties where everyone joins in and young people will celebrate all of the opportunities that exist in the world.</p>
          <p class="name"><small>Matt, 49</small></p>
        </div>
        <div class="your-say-box short green ml-4">
          <p>Lots of pollution</p>
          <p class="name"><small>Alyssa, 13</small></p>
        </div>
        <div class="your-say-box long yellow">
          <p>For things we could change, one thing would be to make the streets cleaner. And make more homeless shelters and we should like change knife crimes.</p>
          <p class="name"><small>Jayden, 12</small></p>
        </div>
      </div>
    </div>

  </div>
  <div class="form-section" id="have-your-say-form">
    <div class="content">
      <form action="/have-your-say" name="contact" method="POST" data-netlify="true">
        <label for="50-years">{{ question1 }}</label>
        <textarea name="50-years" rows="3"></textarea>
        <label for="future">{{ question2 }}</label>
        <textarea name="future" rows="3"></textarea>
        <label for="name">Name:</label>
        <input type="text" name="name">
        <label for="age">Age:</label>
        <input type="text" name="age">
        <button type="submit" class="submit-btn">Send</button>
      </form>
    </div>
  </div>
</main>
{% endblock %}
