{% extends "./default.njk" %}

{% block main %}
<main class="{{ bgColor }} your-say">
  <!-- <div class="main-content"> -->
    <div class="your-say-grid">
      <div class="left">
        <h2>{{ question1 }}</h2>
        <div class="your-say-box long blue">
          <p>In 50 years I see Hackney as a green Space that champions sustainability</p>
          <p>Emily, 21 Hoxton</p>
        </div>
        <div class="your-say-box short pink">
          <p>Solar powered cars and buses in Hackney!</p>
          <p>Emily, 21 Hoxton</p>
        </div>
        <div class="your-say-box medium yellow">
          <p>I want to see more opportunity for young people to be heard in Hackney and throughout London</p>
          <p>Emily, 21 Hoxton</p>
        </div>
      </div>
      <div class="right">
        <div class="your-say-box short yellow">
          <p>I want to see more opportunity for young people to be heard in Hackney and throughout London</p>
          <p>Emily, 21 Hoxton</p>
        </div>
        <div class="your-say-box medium blue">
          <p>In 50 years I see Hackney as a green Space that champions sustainability</p>
          <p>Emily, 21 Hoxton</p>
        </div>
        <h2>{{ question2 }}</h2>
        <div class="your-say-box short pink">
          <p>Solar powered cars and buses in Hackney!</p>
          <p>Emily, 21 Hoxton</p>
        </div>
      </div>
    </div>

  </div>
  <div class="form-section">
    <!-- <button type="button" class="collapsible">Have Your Say</button> -->
    <div class="content">
      <form action="">
        <label for="50-years">What do you imagine Hackney will be like in 50 years?</label>
        <textarea name="50-years" rows="3"></textarea>
        <label for="future">What would you like to see change for the future in Hackney?</label>
        <textarea name="future" rows="3"></textarea>
        <label for="one-word">What word would you use to describe Hackney?</label>
        <input type="text" name="one-word">
        <label for="about">Tell us something about yourself.</label>
        <textarea name="about" rows="2"></textarea>
        <label for="name">Name:</label>
        <input type="text" name="name">
        <label for="age">Age:</label>
        <input type="text" name="age">
        <label for="borough">Which part of Hackney are you from?</label>
        <input type="text" name="borough">
        <input type="submit" class="submit-btn">
      </form>
    </div>
  </div>
</main>
{% endblock %}
