---
layout: default
title: Your Future Worlds
page-title: Home
---

<main class="home">
  <div class="home-grid">
    <div class="word-box red">
      <h3>Green </h3><span>Click me 🔊</span>
    </div>
    <div class="word-box blue">
      <h3>Culture</h3><span>Click me 🔊</span>
    </div>
    <div class="word-box yellow">
      <h3>Bright</h3><span>Click me 🔊</span>
    </div>
    <div class="word-box green">
      <h3>Exciting</h3><span>Click me 🔊</span>
    </div>
    <div class="word-box light-blue">
      <h3>History</h3><span>Click me 🔊</span>
    </div>
    <div class="word-box pink">
      <h3>Ours</h3><span>Click me 🔊</span>
    </div>
  </div>

  <div class="quote-box hidden">
    <h4>I feel like gentrification is a huge issue. So it's almost as though Hackney is a borough in constant resistance. I feel like and  that, to me, is particularly empowering.</h4>
    <p>Tapiwa Cronin,   Peer Gallery Young Ambassadors. 2021</p>
  </div>
</main>
