---
layout: default
title: Your Future Worlds
page-title: Home
---

<main class="home">
  <div class="word-box red">
    <h3>Green</h3>
  </div>
  <div class="word-box blue">
    <h3>Culture</h3>
  </div>
  <div class="word-box yellow">
    <h3>Bright</h3>
  </div>
  <div class="word-box green">
    <h3>Exciting</h3>
  </div>
  <div class="word-box light-blue">
    <h3>History</h3>
  </div>
  <div class="word-box pink">
    <h3>Ours</h3>
  </div>
</main>
