.text-grid {
  display: grid;
  grid-gap: 2rem;
  padding: 4rem;
  h2 {
    font-size: 4rem;
    margin-top: 0;
  }
  p {
    font-size: 1.2rem;
    margin-top: 0;
  }
  @include respond-to('large') {
    padding: 8rem 10rem;
    grid-template-columns: repeat(2, 1fr);
  }

  .logos {
    display: flex;
    flex-direction: column;
    height: 40ch;
    justify-content: space-between;
    margin-top: 2rem;
    img {
      width: 200px;

    }
  }
}
