.text-grid {
  display: grid;
  grid-gap: 2rem;
  padding: 2rem;
  @include respond-to('medium') {
    padding: 4rem;
  }
  h2 {
    margin-top: 0;
    @include respond-to('medium') {
      font-size: 4rem;
    }
  }
  p {
    font-size: 1.2rem;
    margin-top: 0;
  }
  a, a:visited {
    color: white;
  }
  @include respond-to('large') {
    padding: 8rem 10rem;
    grid-template-columns: repeat(2, 1fr);
  }

  .logos {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 1rem;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    @include respond-to('medium') {
      margin-top: 3rem;
      height: auto;
      margin-bottom: 0;
    }
    #eastside {
      width: 80px;
      height: 80px;
    }
    #syrup {
      height: 40px;
    }
    #hackney {
      height: 100px;
    }
    .eastside {
      margin-top: 2rem;
    }
  }
  .credits {
    margin-top: 2rem;
    margin-bottom: 4rem;
  }
}
