.text-grid {
  display: grid;
  grid-gap: 2rem;
  padding: 4rem;
  h2 {
    font-size: 4rem;
    margin-top: 0;
  }
  p {
    font-size: 1.2rem;
    margin-top: 0;
  }
  @include respond-to('large') {
    padding: 8rem 10rem 0 10rem;
    grid-template-columns: repeat(2, 1fr);
  }
}
