$blue: rgba(56, 31, 246, 1);
$orange: rgba(254, 157, 66, 1);
$green: rgba(57, 168, 152, 1);
$pink: rgba(223, 189, 245, 1);
$red: rgba(255, 85, 77, 1);
$light-blue: rgba(45, 155, 241, 1);
$yellow: rgba(255, 212, 47, 1);

.blue { background: $blue }
.green { background: $green }
.pink { background: $pink }
.red { background: $red }
.light-blue { background: $light-blue }
.yellow { background: $yellow }
.orange{ background: $orange }
