.home {
  grid-template-columns: repeat(2, 1fr);
}

.word-box {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  h3 {
    font-size: 5rem;
    text-transform: uppercase;
    line-height: 2rem;
    transition: 0.3s ease-out font-size;
  }
  &:hover {
    h3 {
      font-size: 7rem;
      line-height: 2rem;
    }

  }
}
