.noscroll {
  overflow: hidden;
}

.home {
  position: relative;
  margin-bottom: 2rem;
  @include respond-to('medium') {
    margin-bottom: 3rem;
  }
}

.home-grid {
  display: grid;
  height: 100%;
  overflow: scroll;
  @include respond-to('medium') {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
}

.span-2 {
  @include respond-to('medium') {
    grid-column: span 2;
  }
}
.span-3 {
  @include respond-to('medium') {
    grid-column: span 3;
  }
}

#changing {
  order: 0;
  @include respond-to('medium') {
    order: unset;
  }
}

#green {
  order: 1;
  @include respond-to('medium') {
    order: unset;
  }
}

#instructions {
  order: 2;
  @include respond-to('medium') {
    order: unset;
  }
}

#young {
  order: 3;
  @include respond-to('medium') {
    order: unset;
  }
}

#ours {
  order: 4;
  @include respond-to('medium') {
    order: unset;
  }
}

#future {
  order: 6;
  @include respond-to('medium') {
    order: unset;
  }
}

#joyful {
  order: 5;
  @include respond-to('medium') {
    order: unset;
  }
}

#hopeful {
  order: 7;
  @include respond-to('medium') {
    order: unset;
  }
}

#empowering {
  order: 8;
  @include respond-to('medium') {
    order: unset;
  }
}

#build {
  order: 10;
  @include respond-to('medium') {
    order: unset;
  }
}

#creative {
  order: 9;
  @include respond-to('medium') {
    order: unset;
  }
}

.word-box {
  height: 200px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  span {
    display: none;
    transition: transform 500ms;
  }
  button {
    font-family: inherit;
    color: inherit;
    background: inherit;
    border: 0;
    font-size: 3.5rem;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0;
    transition: transform 500ms;
    display: flex;
    @include respond-to('medium') {
      font-size: 5rem;
    }
  }
  &:hover {
    cursor: pointer;
    button {
      transform: scale(1.2);
    }
  }
}

.hidden { display: none; }
.flex { display: flex; }
.white-text { color: white; }

.quote-box {
  color: white;
  position: fixed;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  z-index: 13;
  padding: 2rem;
  top: 10px;
  bottom: 10px;
  right: 10px;
  left: 10px;
  overflow-y: scroll;
  h4 {
    font-size: 1.6rem;
    font-weight: 300;
  }
  @include respond-to('medium') {
    top: 15px;
    bottom: 15px;
    right: 25%;
    left: 25%;
    padding: 4rem;
    h4 {
    font-size: 2.25rem;
    }
  }
  audio {
    display: none;
  }
  &.green {
    color: $pink;
    // .highlight {
    //   background: white;
    //   color: $pink;
    //   font-size: 1.6rem;
    //   line-height: 2.2rem;
    //   @include respond-to('medium') {
    //     font-size: 2.2rem;
    //     line-height: 3.2rem;
    //   }
    // }
  }
  &.blue {
    color: $orange;
  }
  &.red {
    color: $blue;
  }
  &.pink {
    color: $red;
  }
  &.yellow {
    color: $blue;
    .highlight {
      background: $red;
    }
  }
  &.light-blue {
    color: $yellow;
  }
  &.orange {
    color: $blue;
  }
}

.close-btn {
  position: absolute;
  top: 0;
  right: 5%;
  font-size: 3rem;
  cursor: pointer;
  color: white;
  @include respond-to('medium') {
    font-size: 4rem;
  }
}


.overlay {
  position: fixed;
  overflow-y: scroll;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:rgba(0, 0, 0, 0.4);
  z-index: 12;
  color:white;
}

.sticker-box {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $yellow;
  height: 200px;
}

.build:hover {
  button {
    transform: scale(1.12);
  }
}

.sticker {
  font-family: inherit;
  color: inherit;
  border: 0;
  width: 175px;
  height: 175px;
  border-radius: 50%;
  text-transform: uppercase;
  z-index: 10;
  font-size: 1.2rem;
  transition: transform 500ms;
  a {
    color: white;
    text-decoration: none;
  }
  &:focus {
    outline: none;
  }
}
