.home {
  position: relative;
}

.home-grid {
  display: grid;
  @include respond-to('medium') {
    grid-template-columns: repeat(2, 1fr);
  }
}

.word-box {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  span {
    display: none;
    transition: all 500ms;
    transition-delay: 800ms;
  }
  h3 {
    font-size: 5rem;
    text-transform: uppercase;
    margin: 0;
    transition: all 500ms;
  }
  &:hover {
    cursor: pointer;
    h3 {
      font-size: 6rem;
    }
    span {
      display: block;
    }
  }
}

.hidden {
  display: none;
}

.flex {
  display: flex;
}

.quote-box {
  background: blue;
  position: absolute;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 4rem;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
