nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  color: white;
  background: $orange;
  z-index: 10;
  h1 {
    font-size: 1.5rem;
    @include respond-to('medium') {
      font-size: 1.75rem;
    }
  }
  .hamburger {
    outline: none;
    border: 0;
    background: inherit;
    svg { fill: white; }
    @include respond-to('large') {
      display: none;
    }
  }
  .show {
    display: block !important;
  }
  ul {
    position: absolute;
    right: 0;
    top: 67px;
    left: 0;
    background: $orange;
    padding-right: 2rem;
    text-align: right;
    height: 116px;
    list-style: none;
    justify-content: space-between;
    display: none;
    @include respond-to('large') {
      display: flex;
      position: static;
      padding-right: 0;
      height: auto;
    }
    li:nth-child(2) {
      margin-left: 2rem;
    }
    li {
      font-size: 1.2rem;
      padding: .5rem;
      margin: .5rem;
      border-bottom: 2px solid transparent;
      &.active {
        border-bottom: 2px solid white;
      }
      &:hover {
        border-bottom: 2px solid white;
      }
    }
  }
  a {
    text-decoration: none;
    color: white;
  }
}
