.your-say {
  display: flex;
  flex-direction: column;
  @include respond-to('large') {
    flex-direction: row;
  }
}
.your-say-grid {
  display: grid;
  grid-gap: 0 1rem;
  padding: 4rem;
  @include respond-to('large') {
    padding: 4rem 2rem 4rem 6rem;
    grid-template-columns: repeat(2, 1fr);
  }
  h2 {
    font-size: 2rem;
  }
  .your-say-box {
    padding: 1rem;
    border-radius: 15px;
    margin: 2rem;
  }
  .your-say-box:nth-child(2), .your-say-box:nth-child(4) {
    margin-left: -10px;
  }
  .short { width: 60%; }
  .medium { width: 80%; }
  .long { width: 90%; }
}

.form-section {
  display: flex;
  justify-content: space-around;
  flex: 1 0 auto;
  @include respond-to('large') {
    height: 83vh;
    max-width: 40%;
    position: sticky;
    top: 2.5rem;
  }
}

.collapsible {
  writing-mode: vertical-lr;
  height: 100%;
  text-align: center;
  padding: 0 1rem;
  cursor: pointer;
}

.content {
  // height: 90%;
  width: 80%;
  margin: 2rem;
  padding: 1rem;
  border-radius: 25px;
  transition: 0.5s ease-out;
  background-color: white;
  color: $blue;
  overflow: scroll;
  form {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  label {
    margin: 1rem 0;
  }
  textarea, input {
    border-radius: 15px;
    padding: 10px;
    outline: none;
    background-color: $blue;
    color: white;
    border: none;
    font-family: inherit;
  }
  .submit-btn {
    font-family: inherit;
    width: 50%;
    align-self: center;
    margin-top: 1rem;
  }
}
