.name {
  text-align: right;
}

.your-say {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  @include respond-to('large') {
    flex-direction: row;
  }
}
.your-say-grid {
  display: grid;
  grid-gap: 0 1rem;
  padding: 2rem;
  h2 {
    font-size: 1.5rem;
    font-style: italic;
  }
  @include respond-to('large') {
    padding: 4rem 0 4rem 6rem;
    h2 {
      font-size: 2rem;
    }
    .your-say-box:nth-child(2), .your-say-box:nth-child(4) {
      margin-left: -10px;
    }
  }
  @include respond-to('xl') {
    grid-template-columns: repeat(2, 1fr);
  }
  .your-say-box {
    padding: 1rem;
    border-radius: 15px;
    margin: 2rem;
    font-size: 1.2rem;
    &.yellow {
      color: $blue;
    }
    &.pink {
      color: $red;
    }

  }
  .short { width: 60%; }
  .medium { width: 80%; }
  .long { width: 90%; }
  .right, .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    @include respond-to('large') {
      display: block;
    }
    h2 {
      order: -1;
    }
  }
}

.form-section {
  display: flex;
  justify-content: space-around;
  flex: 1 0 auto;
  @include respond-to('large') {
    height: 83vh;
    max-width: 40%;
    position: sticky;
    top: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.collapsible {
  writing-mode: vertical-lr;
  height: 100%;
  text-align: center;
  padding: 0 1rem;
  cursor: pointer;
}

.content {
  width: 40ch;
  height: 62ch;
  margin: 2rem;
  padding: 1rem 2rem;
  border-radius: 25px;
  background-color: white;
  color: $blue;
  overflow: auto;
  form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  label {
    margin: 1rem 0;
  }
  textarea, input {
    border-radius: 15px;
    padding: 10px;
    outline: none;
    background-color: $blue;
    color: white;
    border: none;
    font-family: inherit;
  }
  .submit-btn {
    font-family: inherit;
    background: $blue;
    color: white;
    border: none;
    outline: none;
    width: 15ch;
    align-self: center;
    margin-top: 1rem;
    padding: .5rem 1rem;
    border-radius: 15px;
    border: 2px solid white;
    &:hover {
      cursor: pointer;
      color: $blue;
      background: white;
      border: 2px solid $blue;
    }
  }
}
