@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

@import 'breakpoints';
@import 'colors';
@import 'nav';
@import 'footer';
@import 'home';
@import 'about';
@import 'gallery';
@import 'your-say';

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Roboto Mono', Courier, monospace;
  display: grid;
  grid-template-rows: auto 1fr auto;
  position: relative;
  color: white;
  background: $orange;
}

a:focus-visible, button:focus-visible, summary:focus-visible {
  outline: white 1px solid;
  // outline: 1px auto Highlight;
  // outline: 1px auto -webkit-focus-ring-color;
}


.outline-none {
  outline: 0;
}

.noscroll {
  overflow: hidden;
}
