@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

@import 'breakpoints';
@import 'colors';
@import 'nav';
@import 'footer';
@import 'home';
@import 'about';
@import 'gallery';

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-height: 100vh;
  margin: 0;
  font-family: 'Roboto Mono', Courier, monospace;
  display: grid;
  grid-template-rows: auto 1fr auto;
  position: relative;
  color: white;
}
